<!DOCTYPE html>
<html>
<head>
	<title>Browser Push Check</title>
</head>
<body>
<button id="btn">Enable Push Notifications</button>
<button id="btn_safari">Safari Check</button>
<script type="text/javascript">
	var btn = document.getElementById('btn');
	var btnSafari = document.getElementById('btn_safari');
	
	const applicationServerPublicKey = 'BAZoGTmRZrKtge-7V1rAcv1U3SOngql4-dnMwZT-9GVP4lFJU87UkrokbxwSEedWa7NxeUbGHf8ICFLRLYHYuLU';
	let isSubscribed = false;
	let swRegistration = null;

	function urlB64ToUint8Array(base64String) {
		const padding = '='.repeat((4 - base64String.length % 4) % 4);
  		const base64 = (base64String + padding)
    		.replace(/\-/g, '+')
    		.replace(/_/g, '/');

  		const rawData = window.atob(base64);
  		const outputArray = new Uint8Array(rawData.length);
		for (let i = 0; i < rawData.length; ++i) {
    		outputArray[i] = rawData.charCodeAt(i);
  		}
		return outputArray;
	}

	btnSafari.addEventListener('click',foo,false);

	function foo(){
		Notification.requestPermission().then(function(result){
			
		});
	}

	if('serviceWorker' in navigator && 'PushManager' in window){
		console.log('Service Workers and Push Notifications are supported');
		navigator.serviceWorker.register("{{ url_for('static', filename='serviceWorker.js') }}")
		.then(function(swReg){
			console.log('Service Worker registered', swReg);
			swRegistration = swReg;
			initialiseUI();
		})
		.catch(function(err){
			console.error('Error encountered with Service Worker', err);
		});
	} else {
		console.warn('Push messaging is not supported');
		btn.textContent = 'Push not supported';
	}

	function initialiseUI(){
		btn.addEventListener('click',function(){
			btn.disabled = true;
			if(isSubscribed){
				unsubscribeUser();
			} else {
				subscribeUser();
			}
		});
		swRegistration.pushManager.getSubscription()
		.then(function(subscription){
			isSubscribed = !(subscription === null);
			if(isSubscribed){
				console.log('User is subscribed');
			} else {
				console.log('User is not subscribed');
			}
			updateBtn();
		});
	}

	function updateBtn(){
		if(Notification.permission === 'denied'){
			btn.textContent = 'Push Messaging Blocked';
			btn.disabled = true;
			return;
		}
		if(isSubscribed){
			btn.textContent = 'Disable Push Notifications';
		} else {
			btn.textContent = 'Enable Push Notifications';
		}
		btn.disabled = false;
	}

	function subscribeUser(){
		  const applicationServerKey = urlB64ToUint8Array(applicationServerPublicKey);
		  swRegistration.pushManager.subscribe({
			  userVisibleOnly: true,
			  applicationServerKey: applicationServerKey
			})
  			.then(function(subscription) {
    		console.log('User is subscribed.');
    		subscriptionJson = JSON.stringify(subscription);
    		console.log(subscriptionJson);
    		subscriptionJson = JSON.parse(subscriptionJson);
    		fetch('/sendNotification',{
    			method: 'post',
    			headers: {
    				'Content-type': 'application/json'
    			},
    			body: JSON.stringify({
    				endpoint: subscriptionJson.endpoint,
    				keys: subscriptionJson.keys
    			})
    		});
			isSubscribed = true;
			updateBtn();
		})
		.catch(function(err) {
			console.log('Failed to subscribe the user: ', err);
			updateBtn();
		});
	}

	// Need to update the subscription on Server
	function unsubscribeUser() {
  		swRegistration.pushManager.getSubscription()
  		.then(function(subscription) {
    	if (subscription) {
      		return subscription.unsubscribe();
    	}
  	})
  	.catch(function(error) {
    	console.log('Error unsubscribing', error);
  	})
  	.then(function() {
    	updateSubscriptionOnServer(null);

    	console.log('User is unsubscribed.');
    	isSubscribed = false;

    	updateBtn();
  	});
	}

</script>
</body>
</html>